{% extends 'core.html' %}

{% block title %}
<title>summary</title>
{% endblock %}

{% block body %}

<h1>order summery</h1>
{% if orders %}
{% for order in orders %}
	<div>
		<div>
			<h4>Address</h4>
			{{ order.address }}
			{{order}}
		</div>
		<div>
			<h4>Price</h4>
			{{ order.order_value }}
		</div>
		<div>
			<h4>Shipping Charges</h4>
			{{ order.shipping }}
		</div>
		<div>
			<h4>Order Date</h4>
			{{ order.created }}
		</div>
		<div>
			<h4>Delivery</h4>
			{{ order.delivery_time }} days
		</div>
	</div>

	<hr>
{% endfor %}
{% endif %}
{% endblock %}