{% extends 'core.html' %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8">
				Enter delivery address
				<form method="post"> 
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit" >add</button>
				</form>
				<div>
					<a class="btn btn-primary" href="{% url 'order:checkout' %}" role="button">Checkout</a>
				</div>
			{% if user_address_list %}
				{% for user_address in user_address_list %}
					<div >
						<div >
							<p ><span>address -</span>{{user_address.address}}</p>
							<p><span>state -</span>{{user_address.state}}</p>
							<p><span>city -</span>{{user_address.city}}</p>
							<p><span>pin - </span>{{user_address.pin}}</p>
							<button type="button" class="btn address
							{% if user.default_address == user_address %} 
								btn-primary
							{% endif %}" data-address-id="{{user_address.id}}" >Set as Default</button>
						</div>
						<hr>
					</div>
				{% endfor %}
			{% endif %}
			<div id="address"></div>
			</div>
			<div class='col-4'>
				
				<div>
					<a class="btn btn-primary" href="{% url 'order:checkout' %}" role="button">Checkout</a>
				</div>
	</div>
 {% endblock %}


{% block script %}

	<script>
	$(".address").click(function(e){
		var address_id= $(e.target).data("address-id")
		console.log($(e.target).data("address-id"))
		$( ":button" ).removeClass( "btn-primary" );
		$(e.target).addClass( "btn-primary" );$.ajax({
    url: "http://127.0.0.1:8000/order/setuserdefaultaddress/",
    type: "post",
    data: {
    	address_id: address_id,
    	csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(){
    }
    })
});

	</script>


	
{% endblock %}