{% extends "core.html" %}
{% block title %}
<title>checkout</title>
{% endblock %}

{% block body %}
<div class="container">
	<h5>order summary</h5>
	<div class="row">
			<div class="col-7">
				{% if object_list %}
					{% for pro in object_list %}
						<div class="card" style="width: 18rem;">
  						<img src="..." class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">{{ pro.name }}</h5>
						    <div class="card-text">
						    	<div>MRP - {{ pro.mrp }}</div>
						    	<div>{{ pro.seller }}</div>
						    	<div>Selling - {{ pro.price }}</div>
						    </div>
						  </div>
						</div>
					{% endfor %}
				{% endif %}
				<div>
					<h1>payment method</h1>
					<form method="post">{% csrf_token %}
						{{ form.as_p }}
						<button>Place order</button>
					</form>
					<hr>
					<h1>address to be deliver</h1>
					<div>{{ user.default_address.address }}</div>
					<div>{{ user.default_address.state }}</div>
					<div>{{ user.default_address.city }}</div>
					<div>{{ user.default_address.pin }}</div>
				</div>
			</div>
			<div class="col-2">
				<h5>Price details</h5>
				{{order_value}}
				<h5>local shipping charge - <span>{{local}}</span></h5>
				<h5>regional shipping charge - <span>{{regional}}</span></h5>  
				<h5>national shipping charge - <span>{{national}}</span></h5>  
				<hr>
				<h5>total shipping charge -  <span>{{total}}</span></h5> 
				<hr>
	</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script>
	$('#pin').focusout(function(e){
		var pin = e.target.value;
		$.ajax({
    url: "http://127.0.0.1:8000/updatepin/",
    type: "POST",
    data: {
    	pin: pin,
    	csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(){
    }
    })
	})
	</script>
{% endblock %}