{% extends "core.html" %}
{% block title %}
<title>Cart</title>
{% endblock %}

{% block body %}
<div class="container">
	<h5>My Cart</h5>
	<div class="row">
			<div class="col-7">
				{% if object_list %}
					{% for pro in object_list %}
						<div class="card" style="width: 18rem;">
  						<img src="..." class="card-img-top" alt="...">
						  <div class="card-body">
						    <h5 class="card-title">{{ pro.name }}</h5>
						    <div class="card-text">
						    	<div>MRP - {{ pro.mrp }}</div>
						    	<div>{{ pro.seller }}</div>
						    	<div>Selling - {{ pro.price }}</div>
						    </div>
						    <a href={% url 'cart:cart' %} class="btn btn-primary">Remove</a>
						  </div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			<div class="col-2">
				<h4>pin</h4>
				<input type="text" id="pin" value="{{pin}}">
				{% if pin_error %}
					<h4>enter correnct pin</h4>

				{% endif %}
				<h5>Price details</h5>
				{% if cart%}
					<div>{{cart.total_value}}</div>
				{% endif %}
				<h5>local shipping charge</h5> -  <span>{{cart.shipping_local}}</span>
				<h5>regional shipping charge</h5> -  <span>{{cart.shipping_regional}}</span>
				<h5>national shipping charge</h5> -  <span>{{cart.shipping_national}}</span>
				<hr>

				<a class="btn btn-primary" href="{% url 'cart:order_redirect' %}"  
				role="button">
				Order Now
				</a>

	</div>
	</div>
</div>
{% endblock %}

{% block script %}
	<script>
	$('#pin').focusout(function(e){
		var pin = e.target.value;
		$.ajax({
    url: "http://127.0.0.1:8000/updatepin/",
    type: "POST",
    data: {
    	pin: pin,
    	csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(){
    }
    })
	})
	</script>
{% endblock %}