{% extends 'core.html' %}
{% block title %} <title>Store</title>{% endblock %}
{% block body %}
<div class="container">
	<!-- Image and text -->
	<nav class="navbar navbar-sucess bg-secondary">
	  <a class="navbar-brand" href="{% url 'cart:cart' %}">
	    <i class="fas fa-shopping-cart"></i>
	    Cart
	  </a>
	</nav>
		<div>
		{% if object_list %}
			{% for pro in object_list %}
				<div class="card" style="width: 18rem;">
  				<img src="" class="card-img-top">
  				<div class="card-body">
    				<h5 class="card-title">{{pro.name}}</h5>
    				<p class="card-text">{{pro.description}}</p>
    				<div class="btn " style="padding:0">
    					{% if pro in user_cart_products %}
    						<button class=" add-button">Added To Cart</button>
    					{% else %}
    						<button class=" add-button">Add To Cart</button>
    					{% endif %}

    				</div>
  				</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block script %}

  <!-- Load React. -->
  <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin>
  </script>

  <!-- Load our React component. -->
  <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  <script>
		$(".add-button").click(function(e){
			var addurl = "http://127.0.0.1:8000/create_or_add_to_cart/";
			console.log("working")
			// console.log($(e.target).parent().siblings("h5").text())
			var product = $(e.target).parent().siblings("h5").text()
			$(e.target).replaceWith(
				// "<button class='dec-pro'>-</button>" +
				// "	<input value=1 style={padding:3px 6px, display:inline-block}>"+
				"<button>Added To Cart</button>");
			$.ajax({
       url: addurl ,
       dataType: "json",
       type: "POST",
       data:{
        product: product ,
        csrfmiddlewaretoken: "{{ csrf_token }}",
       },
       success: function(data){
        console.log(data)
       }
     });
		})
		
	</script>
{% endblock %}

