{% extends 'core.html' %}

{% block body %}

<form action="" method="post">
	{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-primary" type="submit">Login</button>

</form>
<div> <a class="btn btn-primary" href="{% url 'cart:singup' %}" role="button">Sing Up</a></div>

{% endblock %}