{% extends 'core.html' %}


{% block body %}
<form action="" method="post">{% csrf_token %}
	{{form.as_p}}
	<button type="submit" >singup</button>
	
</form>
<button><a href="{% url 'cart:checkout_singin' %}">singin</a></button>
{% endblock %}